<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="ISO-8859-1">
    <title></title>
</head>
<body>
<section>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <!--This is email form-->
                        
                        <h1 >Validate Email</h1>
                        <h3>[[${msg}]]</h3>
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>